html {
  min-height: 100%;
}

body {
  background-image: url('images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===========folder wrapper============ */
.folder-wrapper {
  display: flex;
  flex-flow: row wrap;
  background: #fcfcfc;
  margin: 100px auto;
  max-width: 800px;
  min-width: 400px;
  width: 95%;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transform: scale(0);
  animation: popupWindow 0.4s 0.3s forwards ease-in-out;
}

/* ===========statusbar============ */
.status-bar {
  padding: 10px;
  max-width: 100%;
  flex: 0 0 100%;
  background: #1b1b1b;
}

.status-bar .status-nav {
  display: flex;
  font-size: 15px;
  margin-top: 10px;
}

.status-bar .status-nav .material-icons {
  font-size: 22px;
}

.status-bar span:not(.color) {
  margin: 5px 2px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 3px;
  background: #222;
  color: #999;
  cursor: pointer;
}

.search-icon {
  margin-left: auto !important;
}

/* ===========sidebar============ */
.sidebar {
  padding: 15px 0;
  background: #2b2b2b;
  color: #999;
  flex: 0 0 30%;
}

.sidebar ul li {
  list-style: none;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar ul li:nth-child(4) {
  background: #2980b9;
  color: #fcfcfc;
}

/* ===========folder content============ */
.folder-content {
  padding: 15px;
  background: #fcfcfc;
  flex: 1 0 auto;
}

.folder-content ul {
  display: flex;
}

.folder-content ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  text-align: center;
}

.folder-content img {
  height: 50px;
  display: block;
  margin: 5px auto;
}

.folder-content a {
  display: block;
  width: 70px;
  text-align: center;
  margin: 0 auto;
}

/* ===========icons/colors============ */
span.color {
  margin: 0 5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.sidebar .material-icons {
  padding: 0 5px;
}

.arrow-right {
  opacity: 0.3;
}

.red {
  background: rgb(219, 38, 38);
}

.yellow {
  background: rgb(255, 255, 56);
}

.green {
  background: rgb(59, 182, 59);
}

/* ===========animations============ */
@keyframes popupWindow {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
